.Header {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 200;
  font-family: sans-serif;
  border-bottom: 1px solid gray;
}

.Header > * {
  margin-right: 10px;
  margin-left: 10px;
}

.Title {
  font-size: 25px;
  font-weight: 100;
}

.TargetURL {
  font-weight: 200;
  font-size: 16px;
}

.Status {
  width: 20px;
  height: 20px;
  margin-right: 0px;
  border-radius: 100%;
}

.Status svg {
  boder: 2px solid black;
}

.Ping {

}
